! Font
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Xscreensaver
xscreensaver.Dialog.headingFont: -*-tamsyn-bold-*-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont: -*-tamsyn-medium-*-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont: -*-tamsyn-medium-*-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont: -*-tamsyn-medium-*-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont: -*-tamsyn-medium-*-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont: -*-tamsyn-medium-*-*-*-16-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont: -*-tamsyn-medium-*-*-*-16-*-*-*-*-*-*-*

! general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground: #111111
xscreensaver.Dialog.background: #ffffff
xscreensaver.Dialog.topShadowColor: #111111
xscreensaver.Dialog.bottomShadowColor: #111111
xscreensaver.Dialog.Button.foreground: #ffffff
xscreensaver.Dialog.Button.background: #666666

! username/password input box and date text colour
xscreensaver.Dialog.text.foreground: #ffffff
xscreensaver.Dialog.text.background: #666666
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth: 20
xscreensaver.Dialog.shadowThickness: 2

! timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground: #ff0000
xscreensaver.passwd.thermometer.background: #000000
xscreensaver.passwd.thermometer.width: 8

! datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat: %I:%M%P %b %d
